*{
                    margin: 0; padding: 0;
                    box-sizing: border-box;
                    outline: none;
                    transition: all 0.3s ease-out;
                    background: #1c1616;
                  
                  }
                  section{
                    padding:2rem 9%;
                  }
                  
                  
    .btn{
      background: transparent;
      font-size: 1.4rem;
      color: #fff;
      margin-top:-0.2rem;
      width:6rem;
      height: 2.5rem;
      border:0.18rem solid  #edc967;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .btn:hover{
      color:  #edc967;
    }

                  .flexSB{
                    display: flex;
                    justify-content: space-between;
                    background: #1c1616;
                  }
                  .start{
                    padding: 0px 70px;
                    color: #fff;
                     
                   }
   .start img{
    margin-left: 1.5rem;
     width:10rem;
    height: 6rem;
   }
                  /* .navbar{
                                   box-shadow: 0px 10px 10px rgba(0, 0,0,0.3);
                  } */
                     
   .navbar ul{
           display: flex;         
           padding: 40px 6rem;
   }
   .navbar li{
                    margin-right:2rem;
                    list-style: none;
                    cursor: pointer;
                    list-style: none;
                    text-decoration: none;
   
   }
   .navbar ul li a{
                     font-size: 1.2rem;
                     text-decoration: none; 
                    color:#fff;
                    font-weight:bold;
                    transition: 0.5s;
                    
   }
   .navbar ul li a:hover{
                    color: #edc967;
   }
   
   
   .toggle{
     display: none;
   }

   /* Home Section */
             
             .home{
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              width: 100%;  
              padding:0rem 6rem;
                
            }
             
            
  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    width: 100%!important;
    justify-content: center;
    align-items: center;
    padding:4rem 1rem;
    border:4px solid gray;
  
  }
             .content{
              flex: 1 1 30rem;
              color: #fff;
             
             }
             .content h1{
              font-size: 3.8rem;
              font-weight: 500;
              line-height:4rem;
             }
             .content h1 span{
                    color: #edc967;
             }
             .content p{
              padding-top:2rem;
              width: 28rem;
             }
             .content .btn{
                  width: 10rem;
                  height: 3.2rem;
                  margin-top: 1.5rem;
             }
             .image{
               flex: 1 1 30rem;
             }
             .image img{
              width: 100%;
              height: 25rem;
              object-fit: cover;
             }
               
   @media(max-width:786px) {
                    .offer_box{
                      padding:0 6rem;
                    }
                .start{
                    clip-path: none;
                }    
                .navbar{
                    margin: 0;
                    background-color:#111;
                    position: relative;
                    
                  }
                .navbar ul.flexSB{
                    display: none;
                }
                .navbar ul li{
                    margin-bottom: 20px;
                }
                .toggle{
                    display: block;
                    background-color:transparent;
                    border: none;
                    color: #fff;
                    font-size: 30px;
                    position: absolute;
                    right: 50px;
                    top: 25px;
                }
                .mobile-nav{
                    position: absolute;
                    top: 11.5vh;
                    left: 0;
                    width: 100%;
                    color: #fff;
                    background-color:#111;
                    flex-direction: column;
                    text-align: center;
                }
                .btn{
                     align-self: center;
                }
                a{
                    text-decoration: none;
                }
                li{
                    list-style: none;
                }
                button{
                    border: none;
                }
                
          .home {
            padding:0rem 2rem;
          }
               }
               
               @media screen and (min-width:400px)
                {
                             .mobile-nav{
                              position: fixed; 
                              top: 9vh;
                            
                             }
               }
                 
   @media screen and (max-width:350px) {
    .start{
      padding: 0px 20px;
      color: #fff;
       
     }
      
.navbar ul{
display: flex;         
padding: 40px 0rem;
}
    
   }

   /* Slideer */
@media screen and (max-width:1193px) {
  .content{
    flex: 1 1 20rem;
   
   }
   
   .image{
     flex: 1 1 25rem;
   }
   .image img{
    margin-left: 1rem;
    /* width: 85%; */
   }
  
}

@media screen and (max-width:1024px) {
  .content{
    flex: 1 1 30rem;
   
   }
   
   .image{
     flex: 1 1 30rem;
   }
 
  
  
}

  
  @media screen and (max-width:525px){
    .content{
      flex: 1 1 20rem;
    }
    .content h1{
      font-size: 2.8rem;
     }
      .content p{
      padding-top:2rem;
      width: 24rem;
     }
     /* .content .btn{
          width: 10rem;
          height: 3.2rem;
          margin-top: 1.5rem;
     } */
     .image{
       flex: 1 1 20rem;
     }
     .image img{
      width: 100%;
      height: 20rem;
      object-fit: cover;
     } 
  }

  
  @media screen and (max-width:460px){
    
    .content h1{
      font-size: 2rem;
      line-height: 2rem;
     }
      .content p{
      padding-top:1.5rem;
      width: 20rem;
     }
     .content .btn{
          width: 8rem;
          height: 3.2rem;
          margin-top: 1.1rem;
     }
     .image{
       flex: 1 1 20rem;
     }
     .image img{
      width: 100%;
      height: 15rem;
      object-fit: cover;
     } 
  }

  @media screen and (max-width:400px) {
           .home{
            padding:0rem 0rem;
           }
  }

  @media screen and (max-width:330px){
    
    .content h1{
      font-size: 1.5rem;
      line-height: 2rem;
     }
      .content p{
      padding-top:1.2rem;
      width: 17rem;
     }
     .content .btn{
          width: 9rem;
          height: 3.2rem;
          margin-top: 1rem;
     }
     .image{
       flex: 1 1 20rem;
     }
     .image img{
      width: 100%;
      height: 15rem;
      object-fit: cover;
     } 
  }



  /* Shop section */
  .heading{
            text-align: center;
            color: #fff;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 500;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    padding:1rem 4rem;
    gap: 1rem;
  }
  .container .box{
      flex: 1 1 10rem;
      text-align: center;
      height: 20rem;
      border:0.2rem solid #1c1616;
      background: #1c1616;
      transition: all 0.4s ease-out;
  }


  .container .box img{
              width: 90%;
              height: 60%;
              transition: all 0.4s ease-out;
  }
  
  .container .box h2{
       color: #fff;
       font-weight: 500;
       transition: all 0.4s ease-out;
  }
   .container .box p{
       color: #edc967;
       font-size: 1.5rem;
       margin-top:-0.7rem;
       transition: all 0.4s ease-out;
   }
   .container .box .btn{
    width:8rem;
    height: 2.4rem;
    margin-top:1rem ;
   }
   .container .box:hover,
   .container .box:hover img,
   .container .box:hover h2,
   .container .box:hover p
   {
    background: #0c0909;
}
.container .box:hover{
  border:0.1rem solid #edc967;
  border-radius:4px;
}

.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:2rem 6rem;
}

.about_container{
         flex:1 1 30rem;
         color: white;
}
.about_container small{
        color: #edc967;
        font-size: 1.8rem;
}
.about_container h1{
         font-size: 3rem;
}
.about_container p{
  width: 80%;
  font-size: 1.4rem;
}
.about_container .btn{
  font-size: 1.5rem;
  width:10rem;
  height: 2.4rem;
  margin-top:1rem;

}

.about .image{
  flex: 1 1 30rem;
}
.about .image img{
        width: 100%;
        height: 100%;

      }

      @media screen and (max-width:1150px) {
                 .about{
                  padding:0rem 2rem;
                 }
      }
      @media screen and (max-width:400px) {
       /* .about{
                padding: 0rem 4rem;
       } */
.about_container small{
  color: #edc967;
  font-size: 1.4rem;
}
.about_container h1{
   font-size: 2rem;
}
.about_container p{
width: 80%;
font-size: 1rem;
}      
.about .image img{
     height: 15rem;
}          
      }